:root{
    --color-1: rgb(9, 11, 18, 0,7);  /* opacity */
    --color-2: #000000;
    --color-3: #141922;
    --color-4: #282828;
    --color-5: #797B81;
}

body {
    background-color: var(--color-3);
    color: white;
}

.layout-top{
    height: 90vh;
    display: flex;
}

.layout__sidebar {
   
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: var(--color-5);
}

.layout__sidebar--top {
    border: 3px solid lightcyan;
    height: calc(100% - 100px);
}

.layout__sidebar--bottom {
    border: 3px solid lightsalmon;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.layout__sidebar--bottom a span  {
    display: none;
}

.layout__sidebar--bottom a span hr {
    display: none;
}

.layout__sidebar--logo img[alt$="big"] {
    display: none;
}

.layout__sidebar--menu ul li a span {
    display: none;
}

.layout__sidebar--menu ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.layout__sidebar--playlist {
        display: none;
}

.layout__main {
    flex-basis: 90%;
    /* border: 3px solid lightsalmon; */
    overflow-y: auto;
}

.layout__cta {
    border: 3px solid lightskyblue;
    background-color: var(--color-1);
    padding: 20px;
    text-align: right;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: 0.6rem;
}

.btn {
    border: 1px solid white;
}

.btn--cta {
    padding: 8px 16px;
    border-radius: 20px;
}

.layout-bottom {
    height: 10vh;
    border: 3px solid lightpink;
    background-color: var(--color-5);
}